
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: black;
}

.wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: black;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: yellow;
}

main {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;

}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
    margin-top: 30px;
}

@media (max-width: 600px) {
    .wrapper {
      width: 95%;
    }
  
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }